{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Questionnaire</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="user_name" value="{{ user_name }}">
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <div>
                <h2>{{ question.text }}</h2>
                {% if question.choices %}
                    <div class="choices">
                        {% for choice in question.choices %}
                            <div class="choice">
                                <input type="radio" name="answer" value="{{ choice }}" required>
                                <label>{{ choice }}</label>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                <p>Enter a Number Between 1 (Not Very Related) to 5 (Very Related)</p>
                    <input type="number" name="answer" min="1" max="5" required>
                {% endif %}
            </div>
            <br>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>